*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}

.navbar
{
    border: 2px solid black;
    display: flex;
    padding: 20px;
    align-items: center;
}
nav
{
    border:2px solid brown;
    text-align: right;
    flex: 1;
}
nav ul
{
    padding: 2px solid blue;
    list-style-type: none;
    display: inline-block;


}
nav ul li{
    border: 2px solid steelblue;
    display: inline-block;
    margin-right: 20px;
}
a
{
    text-decoration: #555;

}
p
{
    color: #555;
}
.container
{
    border: 2px solid navy;
    margin: auto;
    max-width: 1300px;
    padding-left: 25px;
    padding-right: 25px;
}