*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}

.navbar
{
    display: flex;
    padding: 20px;
    align-items: center;
}
nav
{
    text-align: right;
    flex: 1;
}
nav ul
{
    list-style-type: none;
    display: inline-block;


}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a
{
    text-decoration: #555;

}
p
{
    color: #555;
}
.container
{
    margin: auto;
    max-width: 1300px;
    padding-left: 25px;
    padding-right: 25px;
}
.row
{
    display: flex; /**1**/
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.col-2
{
    flex-basis: 50%;/**2**/
    min-width: 300px;
}
.col-2 img
{
    max-width: 100%;/**3**/
    padding: 50px 0;
}
.col-2 h1
{
    font-size: 50px;
    line-height: 60px;
    margin: 25px;
}
.btn
{
    background: #ff523b;
    display: inline-block;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    color: #fff;
}
.btn:hover
{
    background: #563434;
}
.header
{
    border: 2px solid rgb(38, 0, 255);
    background: radial-gradient(#fff, #ffd6d6)
}
.header .row
{
    border: 2px solid blueviolet;
}

.categories
{
    border: 2px solid chocolate;
    margin: 70px 0 ;
}
.col-3
{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img
{
    width: 100%;
}
.small-container
{
    border :2px solid    rgb(38, 0, 255);
    max-width: 1080px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    
    
}

.col-4
{
    border: 2px solid brown;
    flex-basis: 25%;
    margin-bottom: 50px;
    padding: 20px;
    min-width: 200px;
}
.col-4 img
{
    width: 100%;
}
.title
{
    text-align: center;
    margin: 0 auto 80px;
    border: 2px solid rgb(19, 47, 202);
    line-height: 60px;
    color: #555;
    position: relative;

}
.title::after
{
    content: '';
    background:#ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4
{
    color: #555;
    font-weight: normal;
}
.col-4 p
{
    font-size: 14px;
}
.rating .fa
{
    color: #ff523b;
}
.col-4:hover
{
    transform: translateY(-5px)
}

.offer
{
    border: 2px solid rgb(38, 0, 255);
    background: radial-gradient(#fff, #ffd6d6);
    margin: 20px;
    padding: 0 ;
}
small
{
    color:#555
}

/*--------- Test Imonial --------*/
.testimonial
{
    padding-top: 100px;
}
.testimonial .col-3
{
    text-align: center;

    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    padding: 40px 20px;
    cursor: pointer;
    transition: transform 0.5s;

}
.testimonial .col-3 img
{
    width: 50;
    border-radius: 50px;
    margin-top: 20px;
}
.testimonial .col-3:hover
{
    transform: translateY(-10px);
}
.fa.fa-quote-left
{
    font-size: 34px;
    color: #ff523b;
}
.testimonial .col-3 h3
{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/*-------------------------  Brands  ----------------------*/

.brands
{
    border: 2px solid black;
    margin: 100 auto;
}
.col-5
{
    border:2px solid blueviolet;
    width: 160px;
}
.col-5 img
{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover
{
    filter: grayscale(0);
}
.footer
{
    border: 2px solid black;
}
.footer 
{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p
{
    color: #8a8a8a;

}
.footer h3
{
    color:#fff;
    margin-bottom: 20px;

}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1
{
    flex-basis: 30%;
}
.footer-col-2
{
    flex: 1;
    text-align: center;
}
.footer-col-2 img
{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4
{
    flex-basis: 12%;
    text-align: center;
}
ul
{
    list-style-type: none;
}
.app-logo
{
    margin-top: 20px;
}
.app-logo img
{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright
{
    text-align: center;
}
.menu-icon
{
    width: 28px;
    margin-left: 20px;
    display: none;
    border: 2px solid rebeccapurple;
}

/************************** media query for menu *******************************/
/**** Products ****/

.row-2
{
    border: 2px solid rgb(9, 228, 64);
    justify-content: space-between;
    margin: 100px auto 20px;
}
select
{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus
{
    outline: none;
}

.page-btn
{
    margin: 0 auto 80px;
}

.page-btn span
{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    margin: auto;
}
.page-btn span:hover
{
    background: #ff523b;
    color: #fff;
}


/*********************** Single Products Details  *************************/

.singler-product
{
    border: 2px solid black;
    margin-top: 50px;;
    margin-bottom: 50px;;

}

.singler-product .col-2 img
{
    padding: 0px;;
}
.singler-product .col-2
{
    padding: 20px;
}
.singler-product h4
{
    margin: 20px 0;
    font-size: 22px;
    font-weight: blod;
}
.singler-product select
{
    display: block;
    padding: 10px;
    margin-top: 20px;
}



.singler-product input
{
    width: 40px;
    height: 40px;
    border: 1px solid #ff523b;
    padding: 5px;
    margin-right: 5px;
    font-size: 20px;
}
input:focus
{
    outline: none
}

.fa-indent{
    margin-left: 8px;
    width: 15px;
    height: 15px;
    color: #ff523b;
}
.small-img-row
{
    display: flex;
    justify-content: space-between;
}
.small-img-col
{
    margin-top: 5px;
    flex-basis: 24%;
    cursor: pointer;
}


/************** Cart Items  *********************/

.cart-page
{
    margin: 80px auto;
}
table
{
    width: 100%;
    border-collapse: collapse;
}
.cart-info
{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
th
{
    border: 2px solid black;
    width: 100px ;
    text-align: left;
    padding: 5px;
    background: #ff523b;
    color:#fff;
    font-weight: normal;
}

td
{
    padding: 10px 5px;
}
td input
{
    border: 1px solid #ff523b;
    width: 40px;
    height: 40px;
    padding: 5px;
}
td a
{
    color: #ff523b;
    font-size: 12px;
}
td img
{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price
{
    display: flex;
    justify-content: flex-end;
}
.total-price  table
{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 350px;
}
td:last-child
{
    text-align: right;
}
th:last-child
{
    text-align:right;
}




@media only screen and (max-width: 800px)
{
   nav ul{
       background: #333;
       position: absolute;
       top: 70px;
       left: 0;
       width: 100%;
       overflow: hidden;
       transition: max-height 0.5s;
   }
   nav ul li
   {
       display: block;
       margin-right: 50px;
       margin-top: 10px;
       margin-bottom: 10px;
   }
   nav ul li a
   {
       color: #fff;
   }
   .menu-icon
   {
       display: inline-block;
       cursor: pointer;
   }

   @media only screen and (max-width: 800px)
   {
       .row
       {
           text-align: center;;
       }
       .col-2, .col-3, .col-4
       {
           flex-basis: 100%;
       }
   }
}